<li class='tasks'>
  <pre><%= task.description %></pre>

  <div class="btn-group btn-group-xs">
    <%= link_to "update", edit_task_path(task), class: "btn btn-success" %>
    <%= link_to "remove", task, method: :delete,
        data: {confirm: "You sure?"}, class: "btn btn-danger" %>
  </div>
</li>
