<% provide(:title, "New To Do") %>
<% provide(:button_text, "Create") %>

<h1>New To Do</h1>

<div class='row'>
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/form', model: @todo, url: todos_path %>
  </div>
</div>
